pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
mlflow
optuna
fastapi
uvicorn
streamlit
plotly
kafka-python
onnx
onnxruntime
joblib
pydantic
python-dotenv
feature-engine
statsmodels
seaborn
matplotlib
pyyaml